<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dog.server.mapper.UserMapper">


  <select id="list" resultType="org.dog.server.entity.User">
    select *
    from user;
  </select>


  <select id="getById" resultType="org.dog.server.entity.User">
    select *
    from user
    where id = #{id};
  </select>


  <delete id="deleteById">
    delete
    from user
    where id = #{id};
  </delete>


  <update id="save">
    insert into user(name, username, age, account, score, sex, phone, email)
    values (#{name}, #{username}, #{age}, #{account}, #{score} ,#{sex}, #{phone}, #{email});
  </update>


  <update id="updateById" parameterType="org.dog.server.entity.User">
    update user
    set name       = #{name},
        age        = #{age},
        account    = #{account},
        score      = #{score},
        sex        = #{sex},
        phone      = #{phone},
        email    = #{email},
        account    = #{account},
        updatetime = #{updatetime}
    where id = #{id};
  </update>


  <select id="listByCondition" resultType="org.dog.server.entity.User">
    select * from user
    <where>
      <if test="name != null and name != ''">
        name like concat('%', #{ name }, '%')
      </if>
      <if test="phone != null and phone != ''">
        and phone like concat('%', #{ phone }, '%')
      </if>
    </where>
--     order by id desc
  </select>


  <select id="getByUsername" resultType="org.dog.server.entity.User" parameterType="java.lang.String">
    select *
    from user
    where username = #{username};
  </select>


</mapper>
